.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  color: #212121;
  margin-top: 100px;
  margin-bottom: 25px;
}
hr {
  width: 64px;
  height: 2px;
  border-width: 0;
  background-color: #e72424;
  margin: 0;
}
.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #86878b;
  margin-top: 30px;
  margin-bottom: 36px;
}
.block-items {
  display: flex;
  justify-content: center;
  margin-bottom: 89px;
}
.item {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 31px 16px 0;
}
.item-image {
  border-radius: 50%;
  border: 1px solid #e72424;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 16px;
}
.item-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0 0 20px;
}
