@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: RalewayLight;
  src: url(../fonts/Raleway/Raleway-Light.ttf);
}

body {
  margin: 0;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 36px;
}

.title {
  font-family: "RalewayRegular";
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  color: #212121;
  margin: 0 0 25px;
}

.line-red {
  width: 64px;
  height: 2px;
  border-width: 0;
  background-color: #e72424;
  margin: 0;
}

.subtitle {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #86878b;
  margin: 30px 0 0;
}

.block-items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 89px;
}

.item {
  width: 20%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 31px 16px 0;
}

.item-image {
  border-radius: 50%;
  border: 1px solid #e72424;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title {
  font-family: "OpenSansBold";
  font-size: 20px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 16px;
}

.item-subtitle {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #000000;
  margin: 0 0 20px;
}

.text-block-background-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/images/building-main.png) rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-blend-mode: multiply;
}

.title-white {
  font-family: "RalewayRegular";
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 75px;
  margin-bottom: 48px;
}

.line-white {
  width: 64px;
  height: 2px;
  border-width: 0;
  background-color: #ffffff;
  margin: 0;
}

.subtitle-white {
  font-family: RalewayLight;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
}

.button-white {
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  padding: 11px 26px;
  margin-bottom: 38px;
}

.button-white:hover {
  background-color: rgb(179, 175, 175);
  transition-duration: 0.5s;
  color: black;
  border: 1px solid wheat;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  margin: 30px 0 18px;
}

footer .footer p {
  font-family: OpenSansRegular;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 15px;
}